PORT=4100
EDITOR_ORIGIN=http://localhost:5173
CONTENT_ROOT=../Auditaxes - Sitio/app/content
GLOBAL_ADMIN_PASSWORD=Auditaxes2026
MEXICO_ADMIN_PASSWORD=Auditaxes2026
SALVADOR_ADMIN_PASSWORD=Auditaxes2026
